/* src/styles/Footer.css */
/* Footer styling */
.footer {
  background: var(--footer-bg); /* Use theme variable */
  color: var(--text); /* Use theme variable */
  padding: 2rem;
  box-shadow: 0 -2px 5px var(--shadow); /* Subtle shadow */
  z-index: 1; /* Ensure footer is above other content */
}

/* Desktop footer layout */
.desktop-footer {
  display: flex;
  justify-content: space-between;
  /* max-width: 1200px; */
  margin: 0 auto 2rem;
}

.footer-column {
  flex: 0.5;
}

.footer-column h3 {
  color: var(--accent); /* Use theme variable */
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 0.8rem;
}

.footer-column ul li span,
.footer-column ul li a {
  color: var(--text); /* Use theme variable */
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: var(--accent); /* Use theme variable */
}

/* Mobile footer layout */
.mobile-footer {
  display: none; /* Hidden on desktop */
  text-align: center;
  margin-bottom: 1rem;
}

.mobile-footer a {
  margin: 0 1rem;
}

.social-icon {
  font-size: 2rem;
  color: var(--text); /* Use theme variable */
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: var(--accent); /* Use theme variable */
}

/* Copyright text */
.footer p {
  text-align: center;
  font-size: 0.9rem;
  color: var(--text); /* Use theme variable */
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .desktop-footer {
    display: none;
  }
  .mobile-footer {
    display: block;
  }
}

#footer-social-column {
  text-align-last: right;
}